{% extends 'base.html.twig' %}

{% block title %}Success Page{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Данные успешно сохранены!</h4>
            <p>Ваши данные были успешно сохранены. Спасибо за предоставленную информацию.</p>
            <hr>
            <p class="mb-0">Если у вас есть еще какие-либо вопросы, пожалуйста, свяжитесь с нами.</p>
        </div>
    </div>
{% endblock %}